{% extends 'base.html' %}

{% block title %}
Edit {{ file }}
{% endblock %}

{% block main %}
<form action="/edit" method="post" class="edit">
	<div class="form-group">
		<label for="source" class="col-form-label">{{ source }}</label>
		<input name="source" id="source" value="{{ source }}" hidden>
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">File</span>
		</div>
		<input type="text" class="form-control" placeholder="{{ source }}" aria-label="Username" aria-describedby="basic-addon1" readonly>
	</div>
	<div class="form-group">
		<textarea class="form-control" rows="24" autofocus rows="5" name="content"
		id="content">{{ content }}</textarea>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
